export(BED2txDb)
export(GR2norm_df)
export(bam2bedgraph)
export(bedgraph2norm)
export(comp)
export(compdata)
export(correct_oversaturation)
export(dtcr)
export(k2n_calc)
export(norm2bedgraph)
export(norm_df2GR)
export(plotRNA)
export(plotReads)
export(readsamples)
export(slograt)
export(swinsor)
export(swinsor_vector)
export(winsor)
import(Biostrings)
import(GenomicFeatures)
import(GenomicRanges)
import(Rsamtools)
import(plyr)
import(rtracklayer)
import(BiocGenerics)
